/* Setting theme */
:root {
  --primary-color: #6f0100;
  --secondary-color: #a10302;
  --background-color: #fffff0;
  --bronze-color: #b87333;
  --silver-color: #c0c0c0;
  --gold-color: #d4af37;
  --lighter-background-color: rgba(255, 255, 240, 0.5);
  --font-primary: "DM Sans", sans-serif;
  --font-secondary: "Playfair Display", serif;
  --font-logo: "Ruthie", cursive;
}

/* Setting the background colour of the page to ivory */
.background {
  background: var(--lighter-background-color);
}

/* Override bootstrap navbar styling */
.navbar {
  background-color: var(--background-color);
  box-shadow: 0px 4px 4px 0px rgba(111, 1, 0, 0.5);
  padding: 1em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .row {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.1em 0;
}

.navbar .col {
  align-items: center;
  justify-content: center;
}

.navCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

#navItems {
  color: var(--primary-color);
  font-family: var(--font-primary);
  text-decoration: none;
  text-transform: uppercase;
  font-size: clamp(0.5em, 2vw, 1em);
  text-align: center;
}

#navItems:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.btn {
  background-color: var(--primary-color);
  color: white;
  border-radius: 2em;
  padding: 5% 20%;
  font-family: var(--font-primary);
  text-decoration: none;
  text-transform: uppercase;
  font-size: clamp(0.5em, 2vw, 1em);
  text-align: center;
}

.btn:hover {
  background-color: #500100;
  color: white;
  text-decoration: none;
}

/* Custom text styling */
h1 {
  color: var(--primary-color);
  font-family: var(--font-logo);
  font-size: clamp(1.2em, 5vw, 4em);
  text-align: center;
  margin: 0 1em;
}

h2 {
  color: var(--primary-color);
  font-family: var(--font-secondary);
  font-size: clamp(0.5em, 3vw, 3em);
  text-align: center;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 600;
}

a {
  text-decoration: none;
}

p {
  color: var(--primary-color) !important;
  font-family: var(--font-primary);
  font-size: clamp(0.5em, 2vw, 1.8em);
  font-style: normal;
  font-weight: 200;
  line-height: 2em;
}
